body {
    margin: 0% 10%;
    
}

.contact {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 10px;
    width: 40%;
    
}
.about_us {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 10px;
    width: 40%;
}

.footer {

    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding-left: 10%;
}

main {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, rgb(32, 44, 54), white);
}

#explore {
    width: 200px;
    border: 1px solid black;
    text-align: center;
    background-color: green;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgb(133, 124, 158), white);
}

nav li {
    display: inline-block;
    
    
}



